.modal-dialog {
  @apply
  fixed left-0 top-0 h-screen w-screen
  flex items-center justify-center
  bg-blue-1000/80 text-blue-1100 dark:text-white-500 z-50
}

.modal-enter {
  opacity: 0;
}

.modal-exit {
  opacity: 1;
}

.modal-enter-active {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
}

.modal-enter-active, .modal-exit-active {
  transition: opacity .3s;
}