.viewer {
  font-weight: 400;
  line-height: 2rem;
}

.viewer {
  color: rgb(230, 230, 230);
}

img {
}

.viewer pre code {
  color: inherit;
  background-color: transparent;
}

.viewer pre code {
  padding: 0;
  white-space: pre-wrap;
  border-radius: 0;
}

.viewer code {
  color: rgb(230, 68, 108);
  background-color: rgb(35, 9, 16);
}

.viewer code {
  padding: 2px 4px;
  border-radius: 6px;
}

/* region Table */
.table th {
  text-align: left
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px
}

.table > thead > tr > th {
  padding: 8px;
  line-height: 1.4285714;
  border-top: 1px solid
}

.table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.4285714;
  vertical-align: top;
  border-top: 1px solid
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid
}

.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
  border-top: 0
}

.table > tbody + tbody {
  border-top: 2px solid
}

.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
  padding: 5px
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border: 1px solid
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 2px
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(10, 15, 20);
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
  border-color: rgb(50, 55, 60);
}

/* endregion */

.viewer pre {
  margin: 0 0 10px;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.viewer pre {
  padding: 0.66001rem 10px 10px;
  line-height: 2rem;
  background: linear-gradient(to bottom, #fff 0, #fff 0.75rem, #f5f7fa 0.75rem, #f5f7fa 2.75rem, #fff 2.75rem, #fff 4rem);
  background-size: 100% 4rem;
}

.viewer pre {
  background-image: linear-gradient(
    rgb(14, 16, 17) 0,
    rgb(14, 16, 17) 0.75rem,
    rgb(18, 21, 22) 0.75rem,
    rgb(18, 21, 22) 2.75rem,
    rgb(14, 16, 17) 2.75rem,
    rgb(14, 16, 17) 4rem);
  border-color: rgb(30, 60, 90);
}

.viewer pre {
  color: rgb(220, 220, 220);
}

.viewer a {
  color: rgb(180, 180, 180);
}

.viewer a {
  text-decoration: underline;
}

.viewer ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

.viewer li {
  margin-left: 1rem;
}

.viewer blockquote p {
  padding: 0.66001rem 1rem 1rem;
  border-left: 3px solid #a0aabf;
  border-left-color: rgb(71, 71, 71);
}

.viewer h1, .viewer h2, .viewer h3, .viewer h4, .viewer h5, .viewer h6 {
  color: rgb(215, 215, 215);
}

.viewer {
  font-size: 1rem;
}

.viewer ul, .viewer ol {
  margin-bottom: .83999rem;
  padding-top: .16001rem
}

.viewer h2 + p {
  padding-top: 1.5rem
}

.viewer p {
  padding-top: .66001rem
}

.viewer p, .viewer pre {
  margin-bottom: 1.33999rem
}

.viewer pre, .viewer blockquote p {
  font-size: 1rem;
  padding-top: .66001rem
}

.viewer blockquote p {
  margin-bottom: .33999rem
}

/* region Title */
.viewer h1 {
  font-size: 2.718281rem;
  margin-bottom: .290691rem;
  padding-top: 1.030694rem
}

.viewer h2 {
  font-size: 2.446453rem;
  margin-bottom: .242584rem;
  padding-top: 1.078801rem
}

.viewer h3 {
  font-size: 2.174625rem;
  margin-bottom: .10041rem;
  padding-top: 1.220973rem
}

.viewer h4 {
  font-size: 1.902797rem;
  margin-bottom: .546865rem;
  padding-top: .453135rem
}

.viewer h5 {
  font-size: 1.630969rem;
  margin-bottom: -.743292rem;
  padding-top: .743292rem
}

.viewer h6 {
  font-size: 1.359140rem;
  margin-bottom: -.858914rem;
  padding-top: .858914rem
}
/* endregion */

/* region Highlight */
.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #002b36;
  color: #839496;
  -webkit-text-size-adjust: none
}

.hljs-comment,.hljs-template_comment,.diff .hljs-header,.hljs-doctype,.hljs-pi,.lisp .hljs-string,.hljs-javadoc {
  color: #586e75
}

.hljs-keyword,.hljs-winutils,.method,.hljs-addition,.css .hljs-tag,.hljs-request,.hljs-status,.nginx .hljs-title {
  color: #859900
}

.hljs-number,.hljs-command,.hljs-string,.hljs-tag .hljs-value,.hljs-rules .hljs-value,.hljs-phpdoc,.hljs-dartdoc,.tex .hljs-formula,.hljs-regexp,.hljs-hexcolor,.hljs-link_url {
  color: #2aa198
}

.hljs-title,.hljs-localvars,.hljs-chunk,.hljs-decorator,.hljs-built_in,.hljs-identifier,.vhdl .hljs-literal,.hljs-id,.css .hljs-function {
  color: #268bd2
}

.hljs-attribute,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number,.hljs-constant,.hljs-class .hljs-title,.hljs-parent,.hljs-type,.hljs-link_reference {
  color: #b58900
}

.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-pragma,.hljs-shebang,.hljs-symbol,.hljs-symbol .hljs-string,.diff .hljs-change,.hljs-special,.hljs-attr_selector,.hljs-subst,.hljs-cdata,.css .hljs-pseudo,.hljs-header {
  color: #cb4b16
}

.hljs-deletion,.hljs-important {
  color: #dc322f
}

.hljs-link_label {
  color: #6c71c4
}

.tex .hljs-formula {
  background: #073642
}
/* endregion */