@media (width < 768px) {
    .menu.container menu {
        @apply pointer-events-none invisible absolute top-0 left-0 right-0 bg-white dark:bg-black px-3 py-6 opacity-0 transition-all;
    }

    .menu.container[data-menu-active=true] menu {
        @apply pointer-events-auto visible top-full opacity-100;
    }
}

.menu.container[data-menu-active=true] .bar div:nth-of-type(1) {
    transform: rotate(45deg);
    top: 10px;
}

.menu.container[data-menu-active=true] .bar div:nth-of-type(2) {
    transform: rotate(180deg);
    opacity: 0;
}

.menu.container .bar div:nth-of-type(2) {
    margin: 6px 0;
}

.menu.container[data-menu-active=true] .bar div:nth-of-type(3) {
    transform: rotate(-45deg);
    top: -10px;
}

.menu.container .bar div {
    height: 4px;
    width: 30px;
    border-radius: 100px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    position: relative;
    top: 0;
}

.menu.container .bar div {
    @apply bg-black dark:bg-white;
}

header menu ul, #language-selector ul {
    @apply md:flex;
}

header menu li, #language-selector li {
    @apply mb-4 md:mr-4 md:mb-0 last:mr-0;
}

header button.setting {
    @apply flex rounded-md md:rounded-2/4 w-full transition-colors p-6 md:p-4 mb-4 md:mr-4 md:mb-0 last:mr-0 hover:bg-amber-200;
}